
snippet heading "SHOUT in a css comment" b
/* ----------------------------------------------------------------------------            
 * $1
---------------------------------------------------------------------------- */
$2
endsnippet
